[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "ceph"]
	path = ceph
	url = https://github.com/openstack/puppet-ceph.git
[submodule "kalimdor"]
	path = kalimdor
	url = https://github.com/unitedstack/puppet-kalimdor.git
